
@{
    ViewBag.Title = "Appointment";
}

<script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
<script src="~/Js/InstaAlbum/Controllers/Appointment.js"></script>

<section class="admin-content" ng-controller="AppointmentController">
    <div class="bg-dark" style="background-color:#33000F;">
        <div class="container  m-b-30">
            <div class="row">
                <div class="col-8 text-white p-t-40 p-b-90">
                    <h2>Appointmnet List</h2>
                </div>
                <div class="col-md-4 text-white p-t-40 p-b-90">
                    <div class="text-md-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pull-up">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="col-md-5 float-left" style="margin-bottom:10px;">
                            <input type="text" ng-model="Search" placeholder="Search..." class="form-control" />
                        </div>
                        <div class="col-md-2 float-right" style="margin-bottom:10px;">
                            <input type="date" name="basic" ng-model="CurrentDate" class="form-control" ng-change="GetData()"
                                   required="required" placeholder="Date">

                        </div>
                        <table class="table" style="width:100%">
                            <thead>
                                <tr style="color:#F05352;">
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>AppointmentSlot</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in DataList | filter:Search">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.Name}}</td>
                                    <td>{{data.Title}}</td>
                                    <td>{{data.Date | date:'dd-MM-yyyy'}}</td>
                                    <td>{{data.Description}}</td>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>AppointmentSlot</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                </tr>
                            </tfoot>
                        </table>


                    </div>
                </div>
            </div>
        </div>

    </div>




</section>


