    @{
    ViewBag.Title = "Customer";
}
<link href="~/assets/css/main.min.css" rel="stylesheet" />
<script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
<script src="~/Js/InstaAlbum/Controllers/Customer.js"></script>

<div class="content-wrapper" ng-controller="CustomerController">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title col-lg-12">
                <a data-popup="tooltip" title="Bank Data" class="pull-right"
                   ng-click="Clear()" data-toggle="modal" data-target="#myAddModal">
                    <button type="button" class="btn btn-warning">
                        <i class="icon-plus2"></i> New Customer
                    </button>
                </a>
                <div class="col-md-6 pull-left">
                    <input type="text" ng-model="Search" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Basic tabs -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Customer List</h5>
                    </div>
                    <div class="table-responsive">
                        <div class="col-md-5 float-right">
                            <input type="text" ng-model="Search" placeholder="Search..." class="form-control" />
                        </div>
                        <table class="table">
                            <thead>
                                <tr class="border-solid bg-col-Grey">
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>UserName</th>
                                    <th>Password</th>

                                    <th style="min-width:130px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in DataList | filter:Search">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.Name}}</td>
                                    <td>{{data.Mobile}}</td>
                                    <td>{{data.Email}}</td>
                                    <td>{{data.UserName}}</td>
                                    <td>{{data.Password}}</td>
                                    <td>
                                        <ul class="icons-list">
                                            <li class="mr-10">
                                                <a data-popup="tooltip" title="Select Album" ng-click="GetCustomerGalleryList(data)"
                                                   data-toggle="modal" data-target="#myModal">
                                                    <i class="icon-camera"></i>
                                                </a>
                                            </li>
                                            <li ng-click="EditData(data)" class="mr-10">
                                                <a data-popup="tooltip" title="Edit">
                                                    <i class="icon-pencil7"></i>
                                                </a>
                                            </li>
                                            <li ng-click="DeleteData(data.Id)">
                                                <a data-popup="tooltip" title="Remove">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /basic tabs -->
    </div>
    <!-- /content area -->
    <!--Add Modal Popup-->
    <div class="container ">
        <div class="modal fade col-md-12 col-sm-12 col-xs-12" id="myAddModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Album</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-validate-jquery" ng-submit="SaveData()">
                            <fieldset class="content-group">
                                <div class="form-group col-lg-6" ng-show="showStudio">
                                    <label class="control-label col-lg-12">Studio <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <select class="form-control ng-pristine ng-valid ng-touched" ng-model="StudioId" ng-change="GetAlbumList()"
                                                ng-options="data.Id as data.Name for data in StudioList">
                                            <option value="" disabled="" ng-selected="true" class="" selected="selected"> Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label col-lg-12">Name <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" name="basic" ng-model="Name" class="form-control"
                                               required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label col-lg-12">Mobile <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" name="basic" ng-model="Mobile" class="form-control"
                                               required="required" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label col-lg-12">Email <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" name="basic" ng-model="Email" class="form-control"
                                               required="required" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label col-lg-12">User Name <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" name="basic" ng-model="UserName" class="form-control"
                                               required="required" placeholder="UserName">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label col-lg-12">Password <span class="text-danger">*</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" name="basic" ng-model="Password" class="form-control"
                                               required="required" placeholder="Password">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-right">
                                <button type="reset" ng-click="Clear()" class="btn btn-prev" id="reset">
                                    Cancel <i class="icon-reload-alt position-right"></i>
                                </button>
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--Add Modal Popup End-->
    <!--Pop Up-->
    <div class="container ">
        <div class="modal fade col-md-12 col-sm-12 col-xs-12" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Album Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row col-lg-12">
                            <div style="padding:10px;margin:5px;background-color: #343a40;" class="badge"
                                 ng-repeat="data in CustomerGalleryList">
                                <span class="badge badge-dark font-20">
                                    <div class="custom-control custom-checkbox">
                                        <div class="form-group">
                                            <label>{{data.Title}}</label><br />
                                            <label class="ui-switch switch-solid-primary switch-large">
                                                <input type="checkbox" ng-checked="data.IsSelected == 1 ? true : false"
                                                       ng-change="SetCustomerGallery(data)"
                                                       ng-model="data.IsSelected"> <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--PopUp Over-->
</div>