@{
    ViewBag.Title = "Index";
}
<head>
    <script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
    <script src="~/Js/InstaAlbum/Controllers/DashBoard.js"></script>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<section class="admin-content " ng-controller="DashBoardController">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-xlg-4">
                <h3 class=""></h3>
                <p class="text-muted">
                    <h4><i class="icon-home position-left"></i> <span class="text-semibold">Dashboard</span></h4> 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xlg-12  m-b-30 col-lg-12">
             
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                    <a href="~/Studio" ng-show="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h6 class="fw-600">Studio</h6>
                                            <p class="text-muted">
                                                All Studio
                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-success">{{StudioCount}}</h4>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{StudioPer}}%" aria-valuenow="0"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="col-md-7">
                                            <p class="text-muted">
                                               
                                            </p>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <p class="text-danger">{{StudioPer}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/Gallery" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h6 class="fw-600">Events</h6>
                                            <p class="text-muted">
                                                All Events
                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-success">{{EventCount}}</h4>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{EventPer}}%" aria-valuenow="0"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="col-md-7">
                                            <p class="text-muted">

                                            </p>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <p class="text-success">{{EventPer}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/Customer" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h6 class="fw-600">Customers</h6>
                                            <p class="text-muted">
                                                All Customers
                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-primary">{{CustomerCount}}</h4>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar" role="progressbar" style="width: {{CustomerPer}}%" aria-valuenow="0"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="col-md-7">
                                            <p class="text-muted">

                                            </p>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <p class="text-primary">{{CustomerPer}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/Portfolio" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h6 class="fw-600">Portfolio</h6>
                                            <p class="text-muted">
                                                All Portfolio
                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-primary">{{PortfolioCount}}</h4>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar" role="progressbar" style="width: {{PortfolioPer}}%" aria-valuenow="0"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="col-md-7">
                                            <p class="text-muted">
                                            </p>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            <p class="text-primary">{{PortfolioPer}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/StudioAbout" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h2 class="text-semibold no-margin-top">
                                                <i class="icon-design icon-2x"></i>
                                            </h2>
                                            <h6 class="fw-600" style="color:black;">Studio Description</h6>
                                            <p class="text-muted">

                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-primary"></h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/Organization" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h2 class="text-semibold no-margin-top">
                                                <i class="icon-make-group icon-2x"></i>
                                            </h2>
                                            <h6 class="fw-600" style="color:black;">Organization</h6>
                                            <p class="text-muted">

                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-primary"></h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                    <a href="~/Appointment" ng-hide="IsAdmin" style="color:#EF4D55;">
                        <div class="col-md-4">
                            <!--widget card begin-->
                            <div class="card m-b-30">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h2 class="text-semibold no-margin-top">
                                                <i class="icon-calendar icon-2x"></i>
                                            </h2>
                                            <h6 class="fw-600" style="color:black;">Appointment</h6>
                                            <p class="text-muted">

                                            </p>
                                        </div>
                                        <div class="col-md-5 my-auto text-right">
                                            <h4 class="text-primary"></h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--widget card ends-->
                        </div>
                    </a>
                </div>
                <!-- /content area -->

            </div>

        </div>
        <div class="row" ng-hide="IsAdmin" style="margin-top:-75px;">
            <div class="col-lg-3" ng-repeat="data in DataList">
                <div class="panel border-grey invoice-grid timeline-content">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="f-s-20" style="color:#EF4D55;">{{data.Name}}</span><br />
                                <label class="f-s-20">{{data.SelectedAlbumPhotoCount}} / {{data.AlbumPhotoCount}}</label>
                            </div>
                            <hr class="col-sm-11" style="margin-top: 3px;margin-bottom: 5px;" />
                            <div class="col-sm-12" ng-repeat="customer in data.CustomerList">
                                <span style="color:#EF4D55;">{{customer.Name}}</span><br />
                                <label style="font-size:15px;">{{customer.Mobile}}</label>
                            </div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
