
@{
    ViewBag.Title = "Organization";
}

<script src="~/assets/dragdropfileupload/filereader.js"></script>
<script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
<script src="~/Js/InstaAlbum/Controllers/Organization.js"></script>
<link href="~/assets/dragdropfileupload/style.css" rel="stylesheet" />

@*<style>
    .titleFont {
        font-size: 15px;
        font-weight: 700;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        background-color: darkgray;
    }
</style>*@

<section class="admin-content" ng-controller="OrganizationController">
    <div class="bg-dark" style="background-color:#33000F;">
        <div class="container  m-b-30">
            <div class="row">
                <div class="col-8 text-white p-t-40 p-b-90">

                </div>
                <div class="col-md-4 text-white p-t-40 p-b-90">
                    <div class="text-md-right">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pull-up">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-z" data-toggle="tab" href="#basic" role="tab"
                                   aria-controls="navbar-filter" aria-selected="true">
                                    <i class="icon-eye position-left"></i> Basic Information
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-z" data-toggle="tab" href="#link" role="tab"
                                   aria-controls="profile" aria-selected="false">
                                    <i class="icon-plus22 position-left"></i> Social Profile Link
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab-z" data-toggle="tab" href="#appointmentSlot" role="tab"
                                   aria-controls="contact" aria-selected="false">
                                    <i class="icon-plus22 position-left"></i> Appointment Slot
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab-z" data-toggle="tab" href="#waterMark" role="tab"
                                   aria-controls="contact" aria-selected="false">
                                    <i class="icon-plus22 position-left"></i> WaterMark
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent1">
                            <div class="tab-pane fade show active" id="basic" role="tabpanel"
                                 aria-labelledby="home-tab">
                                @Html.Partial("OrganizationDetail")
                            </div>
                            <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="profile-tab">
                                @Html.Partial("OrganizationLink")
                            </div>
                            <div class="tab-pane fade" id="appointmentSlot" role="tabpanel" aria-labelledby="contact-tab">
                                @Html.Partial("AppointmentSlot")
                            </div>
                            <div class="tab-pane fade" id="waterMark" role="tabpanel" aria-labelledby="contact-tab">
                                @Html.Partial("OrganizationWaterMark")
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



</section>


