<script src="~/assets/dragdropfileupload/filereader.js"></script>
<script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
<script src="~/Js/InstaAlbum/Controllers/OrganizationLink.js"></script>

<div class="panel panel-flat" ng-controller="OrganizationLinkController">

    <div class="panel-heading">

        <div class="col-lg-12">
            <label class="col-md-4 fs-17"><h6 class="panel-title">Add Organization Link Detail</h6></label>
            <div class="col-md-5 float-left">
                <input type="text" ng-model="Search" placeholder="Search..." class="form-control" />
                <button type="button" class="btn btn-info btn-md " data-toggle="modal" data-target="#myModal" ng-click="GetBankData(data)"
                        style="float: right;margin-right: -376px;margin-top: -36px;">
                    <i class="fa fa-plus"></i>Add Socail Link
                </button>
            </div>

        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="border-solid bg-col-Grey">
                            <th style="width:10%;">No</th>
                            <th style="width:20%;">Image</th>
                            <th style="width:15%;">Title</th>
                            <th style="width:15%;">Link</th>
                            <th style="min-width:130px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-col-Purple-light" ng-repeat="data in DataList | filter:Search">
                            <td>{{$index+1}}</td>
                            <td>
                                <span>
                                    <a ng-href="{{data.Link}}" target="_blank">
                                        <img ng-src='{{data.Image}}' height="70" width="100" />
                                    </a>
                                </span>
                            </td>
                            <td>{{data.Title}}</td>
                            <td>
                                <span>
                                    <a ng-href="{{data.Link}}" target="_blank">
                                        <a ng-href="{{data.Link}}" target="_blank">
                                            <button type="button" class="btn btn-info btn-md "><i class="fa fab-icon-open"></i>Open Link</button>
                                        </a>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <ul class="icons-list">
                                    <li ng-click="EditData(data)">
                                        <a data-popup="tooltip" title="Edit">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                    </li>
                                    <li ng-click="DeleteData(data.Id)">
                                        <a data-popup="tooltip" title="Remove">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="m-b-10">
            <p class="font-secondary">

            </p>
            <!-- Large modal -->

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myLargeModalLabel">Add Social Links</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal form-validate-jquery" ng-submit="SaveData()">
                                <fieldset class="content-group">
                                    <div class="form-row">

                                        <div class="form-group col-lg-6">
                                            <label class="control-label col-lg-12">Title <span class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                <input type="text" name="basic" ng-model="Title" class="form-control"
                                                       required="required" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="control-label col-lg-12">Image <span class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                <input id="File1" type="file" multiple file-model="myFile" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="control-label col-lg-12">Link <span class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                <input type="text" name="basic" ng-model="Link" class="form-control"
                                                       required="required" placeholder="Link">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </fieldset>
                                <div class="text-right">
                                    <button type="reset" ng-click="Clear()" class="btn btn-prev" id="reset">
                                        Cancel <i class="icon-reload-alt position-right"></i>
                                    </button>
                                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>


            
        </div>

    </div>
</div>

