@{
    ViewBag.Title = "StudioAbout";
}

<script src="~/Js/InstaAlbum/Services/HomeService.js"></script>
<script src="~/Js/InstaAlbum/Controllers/StudioAbout.js"></script>

<section class="admin-content" ng-controller="StudioAboutController">
    <div class="bg-dark">
        <div class="container  m-b-30">
            <div class="row">
                <div class="col-12 text-white p-t-40 p-b-90">
                    <h4 class="">
                        Add Studio Description
                    </h4>

                </div>
            </div>
        </div>
    </div>
    <div class="container  pull-up">
        <div class="row">
            <div class="col-lg-6">
                <!--widget card begin-->
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="m-b-0">
                            Add Studio Description
                        </h5>

                    </div>
                    <div class="card-body ">
                        <form class="form-horizontal form-validate-jquery" ng-submit="SaveData()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Title</label>
                                    <input type="text" name="basic" ng-model="Title" class="form-control"
                                           required="required" placeholder="Title">
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="inputPassword4">Description</label>
                                    <textarea rows="5" cols="20" name="basic" ng-model="Description" class="form-control"
                                              required="required" placeholder="Description"></textarea>
                                </div>
                            </div>

                            <div class="form-group ">
                                <button type="reset" ng-click="Clear()" class="btn btn-prev" id="reset">
                                    Cancel <i class="icon-reload-alt position-right"></i>
                                </button>

                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
                
            </div>
            <div class="col-lg-6">
                <!--widget card begin-->
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="m-b-0">
                           List
                        </h5>
                    
                    </div>
                    <div class="card-body ">
                        <div class="col-md-5 float-right">
                            <input type="text" ng-model="Search" placeholder="Search..." class="form-control" />
                        </div>
                        <table class="table">
                            <thead>
                                <tr class="border-solid bg-col-Grey">
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th style="min-width:130px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in DataList | filter:Search">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.Title}}</td>
                                    <td>{{data.Description}}</td>
                                    <td>
                                        <ul class="icons-list">
                                            <li ng-click="EditData(data)">
                                                <a data-popup="tooltip" title="Edit">
                                                    <i class="icon-pencil7"></i>
                                                </a>
                                            </li>
                                            <li ng-click="DeleteData(data.Id)">
                                                <a data-popup="tooltip" title="Remove">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
               
            </div>
        </div>

</section>

